// #F4EEFF #DCD6F7 #A6B1E1 #424874

.claimed {
    height: 80vh;
    h3 {
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        color: #424874;
    }
}